<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>
  <div class="box">
    <% newListItems.forEach(function(item) { %>
      <form action="/deleteoredit" method="post">
        
        <div class="item">
          <button class="deleteBtn" type="checkbox" name="delete" value="<%=item.id%>" onChange="this.form.submit()">delete</button>
          <p><%=item.name%></p>
        </div>
       <input type="hidden" name="listName" value="<%= listTitle %>">
      </form>
    <% }) %>
    

      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
